* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #4300FF, #0065F8, #00CAFF, #00FFDE);
}

.container {
    width: 100%;
    min-height: 100vh; 
    /* its give you naturally fit content compare to height */
    color: #fff;
    position: relative;
    display: flex;
    align-items: baseline;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    color: #000000;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
    
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;

}
.row{
    color: #000000;
    display: flex;
    align-items: center;    
}
input{
    border: 1px solid #edeef0;
    border-radius: 10px;
    flex: 1;
    text-align: left;
    border: none;
    outline: none;
    background: #edeef0;
    padding: 10px;
    margin-right: 20px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    font-weight: 14px;
    padding: 10px;
    background: #d7ff45;
    color:#000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(https://img.icons8.com/?size=100&id=UCuelR34zFCJ&format=png&color=000000);
    background-size: cover;
    background-position:left ;
    left: 8px;
}
ul li.checked{
color: #555;
text-decoration: line-through;
}

ul li.checked::before{
    background-image:url(./checked.png) ;
}
ul li span{
    position: absolute;
    right:0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background:#edeef0 ;
}